Web References/localhostQuotationApprovalManage/QuotationApprovalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendQuotationForApproval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="quotationRequestID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="supplierType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendQuotationForApprovalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendQuotationForApprovalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApprovedQuotationsBySupplierType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="supplierType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApprovedQuotationsBySupplierTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApprovedQuotationsBySupplierTypeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendQuotationForApprovalSoapIn">
    <wsdl:part name="parameters" element="tns:SendQuotationForApproval" />
  </wsdl:message>
  <wsdl:message name="SendQuotationForApprovalSoapOut">
    <wsdl:part name="parameters" element="tns:SendQuotationForApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="GetApprovedQuotationsBySupplierTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetApprovedQuotationsBySupplierType" />
  </wsdl:message>
  <wsdl:message name="GetApprovedQuotationsBySupplierTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetApprovedQuotationsBySupplierTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="QuotationApprovalServiceSoap">
    <wsdl:operation name="SendQuotationForApproval">
      <wsdl:input message="tns:SendQuotationForApprovalSoapIn" />
      <wsdl:output message="tns:SendQuotationForApprovalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApprovedQuotationsBySupplierType">
      <wsdl:input message="tns:GetApprovedQuotationsBySupplierTypeSoapIn" />
      <wsdl:output message="tns:GetApprovedQuotationsBySupplierTypeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QuotationApprovalServiceSoap" type="tns:QuotationApprovalServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendQuotationForApproval">
      <soap:operation soapAction="http://tempuri.org/SendQuotationForApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovedQuotationsBySupplierType">
      <soap:operation soapAction="http://tempuri.org/GetApprovedQuotationsBySupplierType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QuotationApprovalServiceSoap12" type="tns:QuotationApprovalServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendQuotationForApproval">
      <soap12:operation soapAction="http://tempuri.org/SendQuotationForApproval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovedQuotationsBySupplierType">
      <soap12:operation soapAction="http://tempuri.org/GetApprovedQuotationsBySupplierType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QuotationApprovalService">
    <wsdl:port name="QuotationApprovalServiceSoap" binding="tns:QuotationApprovalServiceSoap">
      <soap:address location="https://localhost:44338/QuotationApprovalService.asmx" />
    </wsdl:port>
    <wsdl:port name="QuotationApprovalServiceSoap12" binding="tns:QuotationApprovalServiceSoap12">
      <soap12:address location="https://localhost:44338/QuotationApprovalService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>